<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dy_name.mapper.TestDynamicMapper">
    <insert id="add">
       INSERT INTO person (email) VALUES('1111')
    </insert>
    <insert id="create">
        CREATE DATABASE ${name};
        use ${name};
        CREATE TABLE `person` (
          `id` int(10) NOT NULL AUTO_INCREMENT,
          `email` varchar(255) DEFAULT NULL,
          `name` varchar(255) DEFAULT NULL,
          `phone` varchar(255) DEFAULT NULL,
          PRIMARY KEY (`id`),
          KEY `mail` (`email`)
        ) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
    </insert>

    <select id="query" resultType="java.util.Map">
        SELECT
          *
          FROM
          person
    </select>
</mapper>